body{
  font-family:Helvetica, Arial, Heiti TC, Microsoft JhengHei, sans-serif;
  background: #6C7989;
  background: #6c7989 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6c7989), color-stop(100%, #434b55)) fixed;
  background: #6c7989 -webkit-linear-gradient(#6c7989, #434b55) fixed;
  background: #6c7989 -moz-linear-gradient(#6c7989, #434b55) fixed;
  background: #6c7989 -o-linear-gradient(#6c7989, #434b55) fixed;
  background: #6c7989 -ms-linear-gradient(#6c7989, #434b55) fixed;
  background: #6c7989 linear-gradient(#6c7989, #434b55) fixed;
}
/*video_player */
/***********
[16:9]
640 x 360 (1)
960 x 540 (2)
1280 x 720 (3)
1920 x 1080 (4)

[4:3]
320 x 240
400 x 300
512 x 384 (1)
640 x 480 (1)
800 x 600 (2)
1024x 768 (2)
************/
.video_player{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	width: 100%;
    margin:0 auto;
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
  .video_player{
    display: flex;
    flex-flow: row wrap;
    max-width:1200px;
  }
}
@media screen and (min-width: 1201px){
  .video_player{
    display: flex;
    flex-flow: row wrap;
    max-width:1400px;
  }  
}

/* video_box */
.video_box{
	width:calc(100%);
}
@media screen and (min-width: 801px){
  .video_box{
    width:calc(75%);
  }
}
.video_box video{
	width:100%;
}

/* playlist */
.video_playlist{
	width:100%;
	height:calc(100%);
	max-height: 100vh;
	overflow-x:hidden;
	overflow-y:scroll;
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
	.video_playlist{
	  min-height:420px;
	  max-height: 620px;/*420px - 620px*/
	}
}
@media screen and (min-width: 1201px) {
	.video_playlist{
	  min-height:620px;
	  max-height: 820px;/*620px - 820px*/
	}
}
@media screen and (min-width: 801px){
  .video_playlist{
    width:calc(25%);
  }
}

.video_playlist ul{
	width:calc(100% - 20px); /* 減去 卷軸寬 */
	list-style-type: none;
	margin:0;
	padding:0px 8px;
}
.video_playlist li{
	text-align:center;
	font-size:1.25rem;
	line-height:1.5rem;  
	background-color:rgba(0,0,0,0.9);
	padding:8px;
}
.video_playlist a{
	text-decoration: none;
	color:#000;
	display:inline-block;
	position: relative;
}
.video_playlist img{
	width:100%;
}
.video_playlist .title{
	word-wrap:normal;/**/
	word-break:break-all;/**/
	color:#fff;
}
.video_playlist .time{
	position: absolute;
	top: 60%; /*60px*/
	right: 5%; /*20px*/
	color:#fff;
	background-color:rgba(0,0,0,0.5);
	border-radius: 5px;
	padding:6px;
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
	.video_playlist .time{
	  position: absolute;
	  top:40%;   /*  */
	}
}
@media screen and (min-width: 1201px) {
	.video_playlist .time{
	  position: absolute;
	  top:50%;   /*  */
	}
}

/* 卷軸樣式 */
.video_playlist::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}
.video_playlist::-webkit-scrollbar
{
	width: 14px;
	background-color: #F5F5F5;
}

.video_playlist::-webkit-scrollbar-thumb
{
	background-color: #595959;/*#000000*/
}

header {
  color: rgb(88,26,31);
  text-align: center;
  line-height: 1.2;
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
   -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -khtml-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  
  background:#b55f2870;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,#FDD9B5), color-stop(100%, #b55f2870));
  background: -webkit-linear-gradient(#FDD9B5,#b55f2870);
  background: -moz-linear-gradient(#FDD9B5,#b55f2870);
  background: -o-linear-gradient(#FDD9B5,#b55f2870);
  background: -ms-linear-gradient(#FDD9B5, #b55f2870);
  background: linear-gradient(#FDD9B5, #b55f2870);
  position: relative;
  padding: 15px 20px;
  border-bottom: 1px solid #B2D2E1;
  
}

section  {
  
  text-align: center;
  color:rgb(17,122,151);
  border-top: 1px solid #fff;

  
 background: -webkit-gradient(linear, 50% 0%, 50% 700, color-stop(0%, #53919c), color-stop(100%, #fbdbd2));
  background: -webkit-linear-gradient(#53919c,#fbdbd2 700px);
  background: -moz-linear-gradient(#53919c, #fbdbd2 700px);
  background: -o-linear-gradient(#53919c, #fbdbd2 700px);
  background: -ms-linear-gradient(#53919c, #fbdbd2 700px);
  background: linear-gradient(#6ac7e5, #fbdbd2 700px);
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -khtml-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  position: relative;
  
}

section h2 {
  color: #1c3f85;
text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
  
}


section h3 {
  color:rgb(10,80,99);
text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
  
}
section div {
  

}

section li {
  
  text-align: left;
  color:rgb(6,64,98);
  padding: 15px 15px;
}

footer {
  text-align: center;
  color:rgb(93,19,19);
  border-top: 1px solid #fff;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -khtml-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
 background:#b55f2870;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,#FDD9B5), color-stop(100%, #b55f2870));
  background: -webkit-linear-gradient(#FDD9B5,#b55f2870);
  background: -moz-linear-gradient(#FDD9B5,#b55f2870);
  background: -o-linear-gradient(#FDD9B5,#b55f2870);
  background: -ms-linear-gradient(#FDD9B5, #b55f2870);
  background: linear-gradient(#FDD9B5, #b55f2870);
  position: relative;
  padding: 15px 20px;
  border-bottom: 1px solid #B2D2E1;
}

footer h3{
  
  color: rgb(85,44,12);
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
}

footer li {
  
  text-align: left;
  
}

/* Стили кнопки */
.button{
display: inline-block;
cursor: pointer; font-size:18px;
text-decoration:none;
padding:10px 20px; 
color:#354251;
background:#ffff0;
border-radius:25px;
border:2px solid #354251;
}
.button:hover{
background:#354251;
color:#ffffff;
border:2px solid #354251;
transition: all 0.2s ease;
}
